body {
	padding-bottom: 40px;
}
	
#main {
	padding-top: 60px;
}

.loading {
	display: none;
	left: 40%;
	position: fixed;
	width: 250px;
	padding: 10px;
	border: 1px solid #ccc;
	background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;	
}

button a {
	color:inherit;
}

#analyse, #whois {
	margin-top: -21px;
	margin-right: 4px;
}

table {
	width: 855px !important;
}

th {
	width: 200px;
}

.logo {
	margin-right: 4px;
	float: left;
	clear: left;
}

#description {
	width: 855px;
	text-align: justify;
}

#domain {
	margin-top: -13px;
}

.input_error {
	background: #FFD1D2;
}
